body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.title {
  font-family: "ITC Machine";
  font-size: 80px;
}

@font-face {
  font-family: "ITC Machine";
  src: url("MachineStd.otf") format("opentype");
}
