body {
    margin: 0;
    font-size: 22px;
    background: linear-gradient(
        0deg,
        rgba(235, 235, 235, 1) 85%,
        rgba(212, 179, 35, 1) 100%
    );
}

/* ----------------------- */

/*    <a> Tag Styling      */

/* ----------------------- */

a {
    text-decoration: none;
}

.movies > a,
a:visited {
    color: black;
}

/* ---------------------- */

/*      Logo Styling      */

/* ---------------------- */

.logo {
    width: 200px;
    align-items: center;
}

.logo:hover {
    animation: rotation 0.7s linear;
}

/* ----------------------- */

/*      NavBar Styling     */

/* ----------------------- */

.navbar-container {
    border-bottom: 2px black solid;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-right {
    margin-left: auto;
    margin-right: 50px;
    font-size: 1.75rem;
}

.nav-right > a:hover {
    font-size: 1.85rem;
    background-color: #fff;
    color: black;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: bold;
}

nav a {
    margin: 1em;
}

/* --------------------- */

/*       Search Bar      */

/* --------------------- */

.search-bar {
    width: 19%;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    font-size: 19px;
    margin: 0 15px 0 0;
}

/* --------------------- */

/*         Movies        */

/* --------------------- */

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movies {
    width: 470px;
    height: 530px;
    margin: 8px 2px 40px 2px;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s;
    border: black 1px solid;
}

.movie-images {
    width: 250px;
    height: 325px;
}

.movies h2 {
    padding: 20px;
    margin: 2px;
}

.movies h3 {
    margin: 2px;
    font-style: italic;
}

.movies-btn {
    font-size: 20px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    margin: 10px 0 0 0;
    cursor: pointer;
    background-color: rgba(212, 179, 35, 1);
    border: none;
    color: white;
}

.movies-btn:hover {
    width: 160px;
    height: 60px;
    font-size: 23px;
    padding: 10px;
    border: black solid 1px;
    color: black;
    background-color: rgb(240, 203, 40);
}

.movies:hover {
    transform: scale(1.09);
    box-shadow: 1px 1px 7px black;
}

/* ----------------------- */

/*       Home Title        */

/* ----------------------- */

.homepage-title {
    margin: 100px;
}

/* ----------------------- */

/*       Shop Title        */

/* ----------------------- */

.homepage-shop {
    text-decoration: underline;
    margin: 120px 0;
}

/* ----------------------- */

/*      About Section      */

/* ----------------------- */

.about-container {
    background-color: white;
    text-align: center;
    max-width: 750px;
    margin: 10px auto 50px auto;
    border-radius: 10px;
    padding: 20px 200px;
    box-shadow: 1px 1px 7px black;
}

/* ---------------- */

/*      Footer      */

/* ---------------- */

footer {
    background-color: black;
    color: white;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.contact-btn {
    border-radius: 5px;
    margin: 10px;
    width: 100px;
    padding: 10px;
    font-weight: bold;
    font-size: 19px;
}

/* --------------------------------- */

/*         Login Container         */

/* --------------------------------- */

.login-container {
    display: flex;
    align-items: center;
    height: 10px;
}

.actual-login-box {
    border: black 1px solid;
    text-align: center;
    width: 30%;
    height: 300px;
    margin-top: 10%;
    padding: 25px;
    font-size: 30px;
    background-color: darkgrey;
    border-radius: 10px;
}

.actual-login-box input {
    width: 300px;
    height: 25px;
    margin: 20px;
}

.login-btn {
    width: 100px;
    height: 40px;
    border: black solid 1px;
    font-size: 19px;
    border-radius: 10px;
    margin: 30px 0 0 0;
}

.login-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* --------------------------------- */

/*             Grouped               */
/*         Container styling         */

/* --------------------------------- */

.about-container,
.cart-container,
.login-container {
    display: flex;
    flex-direction: column;
}

.account-container,
.cart-container {
    min-height: calc(100vh - 272px);
}

.login-container {
    min-height: calc(100vh - 172px);
}

/* --------------------------------- */

/*      Imported Font for titles
               and styling           */

/* --------------------------------- */

.about-title,
.home-shop,
.homepage-title {
    font-family: 'ITC Machine';
    letter-spacing: 3px;
    text-align: center;
    font-size: 29px;
}

@font-face {
    font-family: 'ITC Machine';
    src: url('MachineStd.otf') format('opentype');
}

/* ----------------------- */

/*        Animation        */

/* ----------------------- */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
